<main role="main" class="ml-sm-auto col-12">
            <div
              class="parallax-window"
              data-parallax="scroll"
              data-image-src="{{ url_for('static', filename='img/dream-pulse-header.jpg') }}">
              <div class="tm-section-wrap">
                <section id="home" class="tm-section">
                    <div class="tm-bg-white-transparent tm-intro">
                        <h2 class="tm-section-title mb-5 text-uppercase tm-color-primary">Objective</h2>
                        <p class="tm-color-gray">
                          Tech topics translated with a twist.
                        </p>
                        <p class="mb-0 tm-color-gray">
                          Summarize articles to <b><i>increase visibility and understanding</i></b>.<br>
                          Cover cybersecurity, tech, office habits, and neurodiversity.<br>
                          <b><i>Demonstrate knowledge</i></b> of coding and infrastructure via Portfolio.<br>
                        </p>
                    </div>              
                </section>
            </div>            
          </div>
            
{% include 'secroadmap.html' %}

{% include 'secresume.html' %}                            

<!--
          <div class="tm-section-wrap bg-white">
            <section id="articles" class="row tm-section">
              <div class="col-xl-6">
                <div class="tm-section-half">    
                    <h2 class="tm-section-title tm-color-primary mb-5">Articles</h2>
                    <p class="mb-5">
                      First section.
                    </p>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="tm-section-half">
                    <div><i class="far fa-6x fa-building mb-5 tm-section-icon"></i></div>
                    <h2 class="tm-section-title tm-color-primary mb-5">Articles Two</h2>
                    <p class="mb-5">
                      Second section.
                    </p>
                </div>
              </div>
            </section>
          </div>
          -->
            
{% include 'secarticles.html' %}
            
</main>
