<div class="tm-section-wrap bg-white">
            <section id="roadmap" class="row tm-section">
              <div class="col-xl-6">
                <div class="tm-section-half">    
                    <h2 class="tm-section-title tm-color-primary mb-5">Site Roadmap</h2>
                    <p class="mb-5">
                      Upcoming:
                    </p>
                    <p class="mb-5">
                      - Resume section<br>
                      - Blog utilizing MarkDown with three example articles<br>
                      - Portfolio - Redundancy / high availability with multiple cloud vendors<br>
                      - Portfolio - Honeypot with detection and auto mitigate with alert for verification<br>
                      - Portfolio - Social Forum Media Scraper<br>
                      - Portfolio - OIDC OpenID example<br>
                      - SEO<br>
                      - About Me Video<br>
                    </p>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="tm-section-half">
                    <!-- <h2 class="tm-section-title tm-color-primary mb-5"><font color="white">Site Roadmap</font></h2> -->
                    <p class="mb-5">
                      Completed:
                    </p>
                    <p class="mb-5">
                      - <s>Domain selection and aquisition</s><br>
                      - <s>PaaS selection</s><br>
                      - <s>Repository selection and configuration</s><br>
                      - <s>CSS template selection and deploy</s><br>
                      - <s>Logo and image selection</s><br>
                      - <s>Initial dev deployment and testing</s><br>
                      - <s>DNS configuration and related SSL</s><br>
                      - <s>Initialize prod environment</s><br>
                      - <s>Roadmap section</s><br>
                    </p>
                </div>
              </div>
            </section>
          </div>

          <div class="tm-section-wrap bg-white">
            <section id="resume" class="row tm-section">
              <div class="col-12">
                <div class="w-100 tm-double-border-1 tm-border-gray">
                    <div class="tm-double-border-2 tm-border-gray tm-box-pad">
                      <div class="tm-gallery-wrap">
                          <h2 class="tm-color-primary tm-section-title mb-4 ml-2">Resume</h2>
                        
                        <span class="c3">J</span><span class="c0">ason Croteau</span><br>
                              <span class="c0">(city), (state) (zip)</span><br>
                              <span class="c3">(see LinkedIn)@gmail.com</span><br>
                      <span class="c0">(603-000-0000)</span><br>
                        <p class="c5 c6"><span class="c0"></span></p>
                      <span class="c3">https://www.linkedin.com/in/jasoncroteau/</span><br>
                      <span class="c3">https://github.com/jdturbeau/</span><br>
                      <p class="c5 c6"><span class="c0"></span></p><p class="c5"><span class="c10 c11"><b>Experience</b></span></p><p class="c5 c6"><span class="c4"></span></p>
                      <span class="c10"><u>Client Technology Security Manager</u>      03/2023-02/2025</span><br>                                                
                      <span class="c0">Mainstay Technologies, Manchester, NH</span><br>
                        <ul class="c8 lst-kix_uhc5v2er06p4-0 start">
                          <li class="c2 li-bullet-0"><span class="c0">Led a 10 person engineering, SOC, and support team, fostering a proactive, security first mindset</span></li>
                          <li class="c2 li-bullet-0"><span class="c3">Identified and mitigated critical insider threats, enhancing security posture and risk resilience</span></li>
                          <li class="c2 li-bullet-0"><span class="c3">Aligned IT strategy for compliance with regulatory mandates CMMC, SOX, CJIS, ITAR, SOC 2</span></li>
                          <li class="c2 li-bullet-0"><span class="c0">Orchestrated semi-annual budget and forecast reviews, optimizing expense management</span></li>
                          <li class="c2 li-bullet-0"><span class="c0">Implemented and managed IAM controls SSO, MFA, NAC with risk-based attributes</span></li>
                          <li class="c2 li-bullet-0"><span class="c3">Reduced manual effort 30% by automating IT workflows using PowerShell and Python</span></li>
                          <li class="c2 li-bullet-0"><span class="c0">Contributed to the creation of guidelines for Copilot Artificial Intelligence AI usage</span></li>
                          <li class="c2 li-bullet-0"><span class="c0">Spearheaded optimization initiatives to improve redundancy and low maintenance costs</span></li>
                          <li class="c2 li-bullet-0"><span class="c0">Included Azure migrations, Veeam backups, Axcient BCDRs, equipment consolidation</span></li></ul>
                        <p class="c5 c6"><span class="c0"></span></p>
                        <span class="c10"><u>Director of Information Security and Operations</u>      12/2019-03/2023</span><br>
                        <span class="c0">Fresenius Medical Care, Waltham, MA</span><br>
                        <ul class="c8 lst-kix_gdu5c9eys4nr-0 start">
                          <li class="c2 li-bullet-0"><span class="c0">Directed internationally cross-functional teams of up to 15 employees</span></li>
                          <li class="c2 li-bullet-0"><span class="c3">Mentored team for professional development and to ensure operational efficiency</span></li>
                          <li class="c2 li-bullet-0"><span class="c0">Integrated 3,000 employees into a 62,000 person organization,ensuring seamless transition</span></li></ul>
                        <ul class="c8 lst-kix_gdu5c9eys4nr-1 start">
                          <li class="c5 c9 li-bullet-0"><span class="c0">Unblocked and resolved stalled initiatives, with measurable success over 18 months</span></li>
                          <li class="c5 c9 li-bullet-0"><span class="c0">Streamlined operations through corporate standard adoption and strategic advocacy</span></li>
                          <li class="c5 c9 li-bullet-0"><span class="c0">Reduced unnecessary expenses while fortifying security and ensuring minimal disruption</span></li>
                          <li class="c5 c9 li-bullet-0"><span class="c0">Developed a scalable approach to smoothly integrate 8 acquisitions</span></li></ul>
                        <ul class="c8 lst-kix_gdu5c9eys4nr-0"><li class="c2 li-bullet-0"><span class="c3">Created and enforced security policies, conducting training, and tracking performance</span></li>
                          <li class="c2 li-bullet-0"><span class="c3">Built risk metric dashboards to enhance executive decision-making</span></li>
                          <li class="c2 li-bullet-0"><span class="c3">Unified audit protocols, boosting compliance and reporting precision</span></li>
                          <li class="c2 li-bullet-0"><span class="c3">Defined guidelines to strengthen DevSecOps and shorten deployments within the CI/CD pipeline</span></li>
                          <li class="c2 li-bullet-0"><span class="c3">Provided key updates and decision points to senior leadership, ensuring alignment</span></li></ul>
                        <p class="c5 c6"><span class="c0"></span></p>
                        <span class="c10"><u>IT Project Manager</u>        03/2016-12/2019</span><br>
                        <span class="03">Fresenius Medical Care, Waltham, MA</span><br>
                        <ul class="c8 lst-kix_z257qsi6d0ym-0 start"><li class="c2 li-bullet-0"><span class="c0">Optimized processes for Quality, Manufacturing, and IT business intelligence programs by:</span></li></ul>
                        <ul class="c8 lst-kix_z257qsi6d0ym-1 start"><li class="c5 c9 li-bullet-0"><span class="c0">Implemented SDLC framework with change management, testing, validation</span></li>
                          <li class="c5 c9 li-bullet-0"><span class="c0">Developed role-based access control RBAC to streamline management of access</span></li>
                          <li class="c5 c9 li-bullet-0"><span class="c0">Integrated SaaS BI tool with Okta SSO to reduce related support and user frustration</span></li>
                          <li class="c5 c9 li-bullet-0"><span class="c0">Automated ETL using PowerShell and web services for more frequent data consumption</span></li>
                        </ul><ul class="c8 lst-kix_z257qsi6d0ym-0"><li class="c2 li-bullet-0"><span class="c0">Assessed team strengths, guided development, and optimized project strategies</span></li>
                          <li class="c2 li-bullet-0"><span class="c3">Facilitated meetings with senior stakeholders to define project scope, gather high-level requirements, assess resource availability, and track progress</span></li></ul><p class="c5 c6"><span class="c0"></span></p>
                        <span class="c10"><u>Security Analyst</u>        11/2014-03/2016</span><br>
                        <span class="03">Tufts Health Plan, Watertown, MA</span><br>
                            <ul class="c8 lst-kix_75gx3ih1prwl-0 start">
                              <li class="c2 li-bullet-0"><span class="c3">Served as IAM, encryption, data de-identification, and endpoint hardening SME, strengthening cybersecurity measures to support HIPAA compliance</span></li>
                          <li class="c2 li-bullet-0"><span class="c0">Evaluated and deployed Risk-Based Access RBA and Privileged Access Management PAM solutions and strategies to protect subscribers and mitigate insider threats</span></li>
                              <li class="c2 li-bullet-0"><span class="c3">Engaged in Scrum meetings to drive continuous enhancements to subscriber web portals</span></li>
                              <li class="c2 li-bullet-0"><span class="c3">Safeguarded sensitive data such as PII / PHI with technical controls prioritized with stakeholders</span></li>
                              <li class="c2 li-bullet-0"><span class="c0">Deployed and managed IBM EIM access controls, ensuring secure authentication with SSO</span></li>
                              <li class="c2 li-bullet-0"><span class="c3">Implemented and configured access profiles for a modular, CMS-compliant cloud solution</span></li>
                              <li class="c2 li-bullet-0"><span class="c3">Automated security tasks in Java, Bash, and PowerShell, to streamline risk assessments</span></li></ul>
                        <span class="c10"><u>Security Analyst</u>        04/2014-11/2014</span><br>                        
                        <span class="03">NxStage Medical, Inc, Lawrence, MA</span><br>
                        <ul class="c8 lst-kix_k618zpipa6do-0 start">
                          <li class="c2 li-bullet-0"><span class="c0">Applied expertise of security domains leveraging NIST 800-53, HITRUST frameworks</span></li>
                          <li class="c2 li-bullet-0"><span class="c3">Partnered with business to conduct BIA and RA, identify gaps, and define mitigation strategies</span></li>
                          <li class="c2 li-bullet-0"><span class="c3">Investigated incidents using Security Information and Event Management SIEM, IDS/IPS, and DLP, fine-tuning detection to minimize false positives and false negatives</span></li>
                          <li class="c2 li-bullet-0"><span class="c0">Developed and managed IRPs for common threats, streamlining efforts of support team</span></li>
                          <li class="c2 li-bullet-0"><span class="c3">Designed and upheld policies to address evolving risks, technologies, and employee training </span></li>
                          <li class="c2 li-bullet-0"><span class="c0">Conducted trainings about social engineering and phishing in personal and professional realms</span></li>
                          <li class="c2 li-bullet-0"><span class="c0">Assessed and advocated for innovative technologies to enhance cloud and on-prem security <br></span></li></ul>
                        <span class="c10"><u>Network Security Engineer I and II</u>        01/2008-04/2014</span><br>
                        <span class="03">NxStage Medical, Inc, Lawrence, MA</span><br>
                        <ul class="c8 lst-kix_4nzoxldpme40-0 start">
                          <li class="c2 li-bullet-0"><span class="c0">Led projects as an SME and project manager across multiple initiatives, including:</span></li></ul>
                        <ul class="c8 lst-kix_4nzoxldpme40-1 start">
                          <li class="c5 c9 li-bullet-0"><span class="c0">Deployed and managed DLP solutions for on-prem and cloud platforms</span></li>
                          <li class="c5 c9 li-bullet-0"><span class="c0">Implemented, managed IAM platform with SSO securing access for 1,000 user</span></li>
                          <li class="c5 c9 li-bullet-0"><span class="c0">Deployed and maintained SIEM tools to enhance security monitoring</span></li>
                          <li class="c5 c9 li-bullet-0"><span class="c0">Implemented and managed NIDS/IDS/IPS/XDR solutions for threat detection</span></li>
                          <li class="c5 c9 li-bullet-0"><span class="c0">Migrated internal PBX/CC systems to cloud-based VoIP for 500 users</span></li>
                          <li class="c5 c9 li-bullet-0"><span class="c0">Transitioned internal Exchange environment to Google Apps for 750 users</span></li>
                          <li class="c5 c9 li-bullet-0"><span class="c0">Established and enforced Mobile Device Management for 300+ devices</span></li>
                          <li class="c5 c9 li-bullet-0"><span class="c0">Designed and delivered training programs to support system migrations</span></li></ul>
                        <ul class="c8 lst-kix_4nzoxldpme40-0"><li class="c2 li-bullet-0"><span class="c0">Standardized auditing for SOX compliance to provide consistent, timely reporting</span></li>
                          <li class="c2 li-bullet-0"><span class="c0">Authored FAQs for common issues to streamline IT workload and accelerate response times</span></li>
                          <li class="c2 li-bullet-0"><span class="c0">Automated repetitive tasks and monitor failure points using PowerShell and Bash scripting</span></li></ul>
                        <p class="c5 c6"><span class="c0"></span></p>
                        <p class="c5"><span class="c11 c10"><b>Skills</b></span></p><p class="c7 c6"><span class="c12 c10"></span></p>
                        <span class="c12 c10"><u>Leadership Strategy</u></span><br>
                        <ul class="c8 lst-kix_3tt4e658xgrl-0 start">
                          <li class="c1 li-bullet-0"><span class="c0">Spearhead IT integration of acquisitions</span></li>
                          <li class="c1 li-bullet-0"><span class="c0">Led multiple teams, internal and external MSP / MSSP with clear objectives and communication</span></li>
                          <li class="c1 li-bullet-0"><span class="c0">Articulate status and decision points to senior leadership</span></li>
                          <li class="c1 li-bullet-0"><span class="c0">Effectively present and simplify complex topics</span></li>
                          <li class="c1 li-bullet-0"><span class="c0">Align business goals to technical solutions</span></li></ul>
                        <p class="c7 c6"><span class="c0"></span></p>
                          <span class="c10 c12"><u>Technology Expertise</u></span><br>
                        <ul class="c8 lst-kix_jijnhgpvgsj8-0 start">
                          <li class="c1 li-bullet-0"><span class="c0">Cybersecurity &amp; Risk Management - Insider Threat Detection, Risk Mitigation, Incident Response, NIST 800-53, HITRUST</span></li>
                          <li class="c1 li-bullet-0"><span class="c0">Identity &amp; Access Management IAM - RBAC, PAM, ZeroTrust, authentication, authorization</span></li>
                          <li class="c1 li-bullet-0"><span class="c0">Automation &amp; Infrastructure - PowerShell, Python, IaC, PaaS, CI/CD</span></li>
                          <li class="c1 li-bullet-0"><span class="c0">Security Operations &amp; Monitoring - SIEM - Splunk, Azure Sentinel, AWS Security Lake and Detective, XDR, SOAR, IDS / IPS / DLP</span></li>
                        </ul>
                        <p class="c7 c6"><span class="c0"></span></p>
                        <p class="c7"><span class="c4"><b>Certifications</b></span></p>
                        <p class="c5 c6"><span class="c0"></span></p>
                        <span class="c0">ISC2 Certified Information Systems Security Professional CISSP&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;05/2025-04/2028</span></p>
                        <span class="c3">EC-Council Certified Ethical Hacker CEH&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12/2014-02/2017</span></p>
                        <p class="c5 c6"><span class="c4"></span></p>
                          <span class="c11 c10"><b>Education</b></span><br>
                      <p class="c5"><span class="c3">ITT Technical Institute &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c0">02/2012 - 09/2014</span></p><ul class="c8 lst-kix_9v29wwr0ckg5-0 start"><li class="c2 li-bullet-0"><span class="c3">BS, Information Systems Security</span></li>
                      </ul>
                         
                      </div>                        
                    </div>                  
                  </div>     
              </div>         
            </section>
          </div>

                            
                        
                        

                          
     
          <!--
          <div class="tm-section-wrap bg-white">
            <section id="articles" class="row tm-section">
              <div class="col-xl-6">
                <div class="tm-section-half">    
                    <h2 class="tm-section-title tm-color-primary mb-5">Articles</h2>
                    <p class="mb-5">
                      First section.
                    </p>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="tm-section-half">
                    <div><i class="far fa-6x fa-building mb-5 tm-section-icon"></i></div>
                    <h2 class="tm-section-title tm-color-primary mb-5">Articles Two</h2>
                    <p class="mb-5">
                      Second section.
                    </p>
                </div>
              </div>
            </section>
          </div>
          -->
          <div class="tm-section-wrap bg-white">
            <section id="articles" class="row tm-section">
              <div class="col-12 tm-section-pad">
                  <div class="tm-flex-item-left">
                      <div class="tm-w-80">
                          <h2 class="tm-color-primary tm-section-title mb-4">Articles</h2>
                          <p class="mb-5">
                            Coming soon
                          </p>
                      </div>
                      
                  </div> 
              </div>                             
            </section>
          </div>
</main>
