<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.singlePageNav.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/parallax.min.js') }}"></script>
<script src="{{ url_for('static', filename='slick/slick.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/templatemo-scripts.js') }}"></script>
