<head>
  <title>TechSushi - Portfolio</title>
</head>
<body>
Welcome to the Portfolio page<br>
<br>
<br>
Would you like to visit:<br>
<br>
<a href="/keysset">KV set</a><br>
<br>
<a href="/keysget">KV retrieve</a><br>
<br>
<a href="/demo">demo second page routing</a><br>
<br>
<a href="/imgdupe">html for img dupe detect</a><br>
<br>
<a href="/dupe">script for img dupe detect</a><br>
<br>
<br>
<br>
<form action="/imgdupe" method="post">
  <!-- Form elements go here -->
  <label for="name">Subreddit:</label><br>
  <input type="text" id="subreddit" name="sub" placeholder="p320">
  <button type="submit">Browse Media</button>
</form><br>
<br>
<br>
<br>
Run through version [030]
</body>
