<main class="container-fluid">
      <div class="row">        
          <nav id="tmSidebar" class="tm-bg-black-transparent tm-sidebar">
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
              <i class="fas fa-bars"></i>
            </button>
            <!--
            <div class="tm-sidebar-sticky">
              <div class="tm-brand-box">
                <div class="tm-double-border-1">
                  <div class="tm-double-border-2">
                    <h1 class="tm-brand"><b>TechSushi</b></h1>
                  </div>
                </div>
              </div>
            -->
            <center><img src="{{ url_for('static', filename='img/techsushi-logo-nobg.png') }}" width="80%"></img></center>
              <ul id="tmMainNav" class="nav flex-column text-uppercase text-right tm-main-nav">
                <li class="nav-item">
                  <a href="#home" class="nav-link active">
                    <span class="d-inline-block mr-3">Home</span>
                    <span class="d-inline-block tm-white-rect"></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#roadmap" class="nav-link">
                    <span class="d-inline-block mr-3">Roadmap</span>
                    <span class="d-inline-block tm-white-rect"></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#resume" class="nav-link">
                    <span class="d-inline-block mr-3">Resume</span>
                    <span class="d-inline-block tm-white-rect"></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="https://www.msnbc.com" class="nav-link">
                    <span class="d-inline-block mr-3">Articles</span>
                    <span class="d-inline-block tm-white-rect"></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#portfolio" class="nav-link">
                    <span class="d-inline-block mr-3">Portfolio</span>
                    <span class="d-inline-block tm-white-rect"></span>
                  </a>
                </li>
                <!--
                <li class="nav-item">
                  <a href="#lessons" class="nav-link">
                    <span class="d-inline-block mr-3">Lessons</span>
                    <span class="d-inline-block tm-white-rect"></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#research" class="nav-link">
                    <span class="d-inline-block mr-3">Research</span>
                    <span class="d-inline-block tm-white-rect"></span>
                  </a>
                </li>
                -->
                <li class="nav-item">
                  <a href="#credits" class="nav-link">
                    <span class="d-inline-block mr-3">Credits</span>
                    <span class="d-inline-block tm-white-rect"></span>
                  </a>
                </li>
              </ul>
              <ul class="nav flex-row tm-social-links">
                <li class="nav-item">
                  <a href="https://linkedin.com/in/jasoncroteau/" class="nav-link tm-social-link" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="https://github.com/jdturbeau/" class="nav-link tm-social-link" target="_blank">
                    <i class="fab fa-github"></i>
                  </a>
                </li>
              </ul>
                
              <footer class="text-center text-white small">
                <p class="mb--0 mb-2">v1.4.01</p>
                <!--
                <br><br>
                <a href="admin/public/index.html" target="_blank"><button>Admin console</button></a>
                -->
              </footer>
            </div>
          </nav>
