<main class="container-fluid">
      <div class="row">        
          <nav id="tmSidebar" class="tm-bg-black-transparent tm-sidebar">
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
              <i class="fas fa-bars"></i>
            </button>
            <center><img src="{{ url_for('static', filename='img/techsushi-logo-nobg.png') }}" width="80%"></img></center>
              <!-- <ul id="tmMainNav" class="nav flex-column text-uppercase text-right tm-main-nav"> -->
              <ul id="tmMainNav" class="nav flex-column text-right tm-main-nav">
                <li class="nav-item">
                  <a href="{{ url_for('home') }}" class="nav-link active">
                    <span class="d-inline-block mr-3 text-uppercase">Home</span>
                    <span class="d-inline-block tm-white-rect"></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#portfolio" class="nav-link">
                    <span class="d-inline-block mr-3 text-uppercase">Portfolio</span>
                    <span class="d-inline-block tm-white-rect"></span>
                  </a>
                </li>
                  <li class="nav-item">
                  
                    <span class="d-inline-block mr-3 text-uppercase"><a href="https://www.google.com" class="nav-link" target="_blank">LinkTest</a></span>
                    <span class="d-inline-block tm-white-rect"></span>
                  
                </li>
            <br><br>
                <li class="nav-item">
                    <span class="d-inline-block mr-3 text-uppercase">Project Name:</span>
                      <span class="text-white small text-left">
                <p class="mb--0 mb-2">{{ strProjName }}</p>
                      </span>
                </li>
                <li class="nav-item">
                    <span class="d-inline-block mr-3 text-uppercase">Use Case:</span>
                        <span class="text-white small text-left">
                <p class="mb--0 mb-2">{{ strProjUseCase }}</p>
                      </span>
                </li>
                <li class="nav-item">
                    <span class="d-inline-block mr-3 text-uppercase">Skills/Tech:</span>
                      <span class="text-white small text-left">
                <p class="mb--0 mb-2">{{ strProjSkillTech }}</p>
                      </span>
                </li>
              </ul>
              <ul class="nav flex-row tm-social-links">
                <li class="nav-item">
                  <a href="https://linkedin.com/in/jasoncroteau/" class="nav-link tm-social-link" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="https://github.com/jdturbeau/" class="nav-link tm-social-link" target="_blank">
                    <i class="fab fa-github"></i>
                  </a>
                </li>
              </ul>
                
              <footer class="text-center text-white small">
                <p class="mb--0 mb-2">2025</p>
              </footer>
      </nav>    
      </div>
</main>
