<div class="tm-section-wrap bg-white">
<section id="roadmap" class="row tm-section">
<div class="col-xl-6">
<div class="tm-section-half">    
<h2 class="tm-section-title tm-color-primary mb-5">Site Roadmap</h2>
<p class="mb-5">
Upcoming:
</p>
<p class="mb-5">
- Resume section<br>
- Blog utilizing MarkDown with three example articles<br>
- Portfolio - Redundancy / high availability with multiple cloud vendors<br>
- Portfolio - Honeypot with detection and auto mitigate with alert for verification<br>
- Portfolio - Social Forum Media Scraper<br>
- Portfolio - OIDC OpenID example<br>
- SEO<br>
- About Me Video<br>
</p>
</div>
</div>
<div class="col-xl-6">
<div class="tm-section-half">
<!-- <h2 class="tm-section-title tm-color-primary mb-5"><font color="white">Site Roadmap</font></h2> -->
<p class="mb-5">
Completed:
</p>
<p class="mb-5">
- <s>Domain selection and aquisition</s><br>
- <s>PaaS selection</s><br>
- <s>Repository selection and configuration</s><br>
- <s>CSS template selection and deploy</s><br>
- <s>Logo and image selection</s><br>
- <s>Initial dev deployment and testing</s><br>
- <s>DNS configuration and related SSL</s><br>
- <s>Initialize prod environment</s><br>
- <s>Roadmap section</s><br>
</p>
</div>
</div>
</section>
</div>
