<div class="tm-section-wrap bg-white">
<section id="articles" class="row tm-section">
<div class="col-12 tm-section-pad">
<div class="tm-flex-item-left">
<div class="tm-w-80">
<h2 class="tm-color-primary tm-section-title mb-4">Articles</h2>
<p class="mb-5">
Testing display for article organization.
</p>
</div>

<div class="row tm-clients-images">
<div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 tm-img-wrap">
<a href="https://wa-techsushi-portfolio-py-gjeybfc5fwhfa6e5.eastus2-01.azurewebsites.net/display?post=2025-0508-signalgatezoom">
<img src="{{ url_for('static', filename='img/client-1.png') }}" alt="SignalGate" class="img-fluid tm-client-img" />
</a>                          
</div>
<div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 tm-img-wrap">
<a href="https://wa-techsushi-portfolio-py-gjeybfc5fwhfa6e5.eastus2-01.azurewebsites.net/display?post=2025-0313-localsmalltarget">
<img src="{{ url_for('static', filename='img/client-2.png') }}" alt="300 Days in a small, local powerplant" class="img-fluid tm-client-img" />
</a>                          
</div>
<div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 tm-img-wrap">
<a href="https://wa-techsushi-portfolio-py-gjeybfc5fwhfa6e5.eastus2-01.azurewebsites.net/display?post=2025-0121-silkroadsfounder">
<img src="{{ url_for('static', filename='img/client-3.png') }}" alt="SilkRoads Founder Pardoned" class="img-fluid tm-client-img" />
</a>                          
</div>
<div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 tm-img-wrap">
<a href="https://instagram.com">
<img src="{{ url_for('static', filename='img/client-4.png') }}" alt="Client Image" class="img-fluid tm-client-img" />
</a>                          
</div>
<div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 tm-img-wrap">
<a href="https://google.com">
  <img src="{{ url_for('static', filename='img/client-5.png') }}" alt="Client Image" class="img-fluid tm-client-img" />
</a>                          
</div>
<div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 tm-img-wrap">
<a href="https://facebook.com">
  <img src="{{ url_for('static', filename='img/client-6.png') }}" alt="Client Image" class="img-fluid tm-client-img" />
</a>                          
</div>
<div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 tm-img-wrap">
<a href="https://twitter.com">
  <img src="{{ url_for('static', filename='img/client-7.png') }}" alt="Client Image" class="img-fluid tm-client-img" />
</a>                          
</div>
<div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 tm-img-wrap">
<a href="https://instagram.com">
  <img src="{{ url_for('static', filename='img/client-8.png') }}" alt="Client Image" class="img-fluid tm-client-img" />
</a>                          
</div>
</div>
</div> 
</div>                             
</section>
</div>

<!--
<div class="tm-section-wrap bg-white">
<section id="articles" class="row tm-section">
<div class="col-12 tm-section-pad">
<div class="tm-flex-item-left">
<div class="tm-w-80">
<h2 class="tm-color-primary tm-section-title mb-4">Articles</h2>
<p class="mb-5">
Coming soon
</p>
</div>
</div> 
</div>
</section>
</div>
-->

<!-- this is similar to portfolio, image rotation
<div class="tm-section-wrap bg-white">
<section id="articles" class="row tm-section">
<div class="col-12">

<div class="w-100 tm-double-border-1 tm-border-gray">
<div class="tm-double-border-2 tm-border-gray tm-box-pad"> 

<div class="tm-gallery-wrap">
<h2 class="tm-color-primary tm-section-title mb-4 ml-2">Articles</h2>
<div class="tm-gallery">
<div class="tm-gallery-item">                        
<figure class="effect-bubba">
<img src="{{ url_for('static', filename='img/portfolio/01website.jpg') }}" alt="Article 1" class="img-fluid">
<figcaption>
<h2>TechSushi <span>Website</span></h2>
<p>Signalgate or Zoom-bombing 2.0</p>
<a href="https://wa-techsushi-portfolio-py-gjeybfc5fwhfa6e5.eastus2-01.azurewebsites.net/display?post=2025-0508-signalgatezoom">View more</a>
</figcaption>
</figure>
</div>
<div class="tm-gallery-item">
<figure class="effect-bubba">
<img src="{{ url_for('static', filename='img/portfolio/02redmed.jpg') }}" alt="Article 2" class="img-fluid">
<figcaption>
<h2>Reddit Media <span>Streamer</span></h2>
<p>300 days undetected in a small, local utility company</p>
<a href="https://wa-techsushi-portfolio-py-gjeybfc5fwhfa6e5.eastus2-01.azurewebsites.net/display?post=2025-0313-localsmalltarget">View more</a>
</figcaption>
</figure>
</div>
<div class="tm-gallery-item">
<figure class="effect-bubba">
<img src="{{ url_for('static', filename='img/gallery/03.jpg') }}" alt="Article 3" class="img-fluid">
<figcaption>
<h2>Fresh <span>Bubba</span></h2>
<p>Silk Roads Founder Pardoned</p>
<a href="https://wa-techsushi-portfolio-py-gjeybfc5fwhfa6e5.eastus2-01.azurewebsites.net/display?post=2025-0121-silkroadsfounder">View more</a>
</figcaption>
</figure>
</div>
<div class="tm-gallery-item">
<figure class="effect-bubba">
<img src="{{ url_for('static', filename='img/gallery/04.jpg') }}" alt="Project 4" class="img-fluid">
<figcaption>
<h2>Fresh <span>Bubba</span></h2>
<p>Brief description of project 4 purpose.</p>
<a href="{{ url_for('static', filename='img/gallery/large/04.jpg') }}">View more</a>
</figcaption>
</figure>
</div>
</div>
</div>                        
</div>                  
</div>     
</div>         
</section>
</div>

-->
