<div class="tm-section-wrap bg-white">
<section id="portfolio" class="row tm-section">
<div class="col-12">
<div class="w-100 tm-double-border-1 tm-border-gray">
<div class="tm-double-border-2 tm-border-gray tm-box-pad">
<div class="tm-gallery-wrap">
<h2 class="tm-color-primary tm-section-title mb-4 ml-2">Portfolio</h2>
<div class="tm-gallery">
<div class="tm-gallery-item">                        
<figure class="effect-bubba">
<img src="{{ url_for('static', filename='img/portfolio/01website.jpg') }}" alt="TechSushi Website" class="img-fluid">
<figcaption>
<h2>TechSushi <span>Website</span></h2>
<p>Brief description of project 1 purpose.</p>
<!-- change link to Purpose Statement Overview for this project -->
<a href="{{ url_for('static', filename='img/gallery/large/01.jpg') }}">View more</a>
</figcaption>
</figure>
</div>
<div class="tm-gallery-item">
<figure class="effect-bubba">
<img src="{{ url_for('static', filename='img/portfolio/02redmed.jpg') }}" alt="Reddit Media" class="img-fluid">
<figcaption>
<h2>Reddit Media <span>Streamer</span></h2>
<p>Brief description of project 2 purpose.</p>
<a href="{{ url_for('static', filename='img/gallery/large/02.jpg') }}">View more</a>
</figcaption>
</figure>
</div>
<div class="tm-gallery-item">
<figure class="effect-bubba">
<img src="{{ url_for('static', filename='img/gallery/03.jpg') }}" alt="Project 3" class="img-fluid">
<figcaption>
<h2>Fresh <span>Bubba</span></h2>
<p>Brief description of project 3 purpose.</p>
<a href="{{ url_for('static', filename='img/gallery/large/03.jpg') }}">View more</a>
</figcaption>
</figure>
</div>
<div class="tm-gallery-item">
<figure class="effect-bubba">
<img src="{{ url_for('static', filename='img/gallery/04.jpg') }}" alt="Project 4" class="img-fluid">
<figcaption>
<h2>Fresh <span>Bubba</span></h2>
<p>Brief description of project 4 purpose.</p>
<a href="{{ url_for('static', filename='img/gallery/large/04.jpg') }}">View more</a>
</figcaption>
</figure>
</div>
</div>
</div>                        
</div>                  
</div>     
</div>         
</section>
</div>
